@import "tailwindcss";

@theme {
  --color-primary: #006e2a;
  --color-primary-container: #00c853;
  --color-secondary: #525f71;
  --color-background: #f8f9ff;
  --color-surface: #f8f9ff;
  --color-on-surface: #0f1c2c;
  --color-outline: #6c7b6a;

  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-background text-on-surface font-inter;
  }
}
